
#ModalContain{
  max-width: 65vw;
  min-width: 30vw;
  min-height: 5vh;
  max-height: 45vh;
  overflow-y: scroll;
  color: black;
  padding-right: 20px;
}
#ModalContain::-webkit-scrollbar {
  display: none;
}
#recipesTitle{
  margin-top: 20px;
}
#recipesDetail{
  margin-bottom: 30px;
}
#recipesLevel{
  margin-top:15px;
}
