#RecipesList{
    margin-top: 20px;
    border: solid #02c39a 1px;
    height: 92%;
}
#ScanList{
    margin-top: 20px;
    border: solid #02c39a 1px;
    height: 92%;
}
#GourmetList{
    margin-top: 20px;
    border: solid #02c39a 1px;
    height: 92%;
}