.pincode-wrapper {
    text-align: center;
    margin-left: 32%;
    width: 40%;
}

.pincode-prefix {
    display: inline;
}

.pincode-container {
    display: inline;
}

.pincode-regenerate {
    text-align: center;
    margin: auto;
    padding-top: 20px;
    width: 50%;
}

.pincode-loader {
    text-align: center;
    margin: auto;
    padding-top: 20px;
    width: 50%;
}