#interactive.viewport {
    left: 5%;
    width: 90%;
    height: 500px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

#interactive.viewport canvas, video {
    width: 100%;
    padding-top: 3vh;
}

#interactive.viewport canvas.drawingBuffer, video.drawingBuffer {
    left: 0px;
    position: absolute;
    z-index: 2;
}

@media (max-width: 600px) {
    #interactive.viewport {
        width: 300px;
        height: 300px;
        overflow: hidden;
        position: relative;
        z-index: 2;
    }
    
    #interactive.viewport canvas, video {
        margin-top: -50px;
        width: 300px;
        height: 400px;
    }
    
    #interactive.viewport canvas.drawingBuffer, video.drawingBuffer {
        margin-left: -300px;
    }
}

.scanner-result {
    position: relative;
    z-index: 2;
    top: -3em;
    left: 30px;
    width: 92%;
    height: 45rem;
    background-color: #f0f3bd;
    border-radius: 40px;
}